.title {
  margin-bottom: 0;
  text-align: left;
  color: rgb(250, 180, 100);
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.content {
    padding-bottom: 50px;
}