.title {
    margin-bottom: 0;
    text-align: left;
    color: rgb(250, 180, 100);
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.subText {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: start;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    color: rgb(50, 50, 50);
    width: 100%;
}

.content {
    padding-bottom: 50px;
}

.content h2,
.content p,
.content tr {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif !important;
}

.card {
    padding: 24px;
    border-radius: 12px;
    background: rgb(var(--cardTableColor));
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.cardHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardTitle {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgb(var(--tableTitle));
    overflow-x: auto;
}

.cardAddItem {
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(250, 250, 250);
    background: rgb(116, 193, 106);
    border-radius: 7px;
    transition: all 0.3s;
}

.cardAddItem:hover {
    background: rgb(86, 145, 79);
}

.tableContainer {
    overflow-x: auto;
    margin-top: 10px;
}

.table {
    width: 100%;
    /* border-collapse: collapse; */
    font-size: 0.95rem;
    background: rgb(var(--tableColor));
    box-shadow: 0 0 2px rgb(0, 0, 0);
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    overflow: hidden;
}

.table thead tr {
    background: rgb(var(--tableTr));
}

.table th {
    text-align: left;
    padding: 14px;
    font-weight: 600;
    color: rgb(250, 250, 250);
    border-bottom: 2px solid rgb(232, 232, 232);
}

.table td {
    padding: 14px;
    /* border-bottom: 1px solid #eee; */
}

.table tbody tr:hover {
    background: rgb(245, 243, 240);
}

.emptyData {
    text-align: center;
    padding: 30px !important;
    color: #666;
}

.table td {
    padding: 14px 18px;
    /* border-top: 1px solid #e5e7eb; */
    font-size: 0.9rem;
    color: rgb(50, 50, 50);
}

.emptyData {
    text-align: center;
    padding: 22px;
    color: #777;
}

.buttons {
    height: auto;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.actionBtn {
    padding: 6px 10px;
    font-size: 0.8rem;
    border-radius: 6px;
    border: none;
    background: rgb(97, 135, 179);
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

.actionBtnDelete {
    padding: 6px 10px;
    font-size: 0.8rem;
    border-radius: 6px;
    border: none;
    background: #c53030;
    color: white;
    cursor: pointer;
}