.bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 55;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

.menu {
    position: relative;
    padding: 20px;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--tx-color);
    background: var(--bg-color);
    transform: translateX(-350px);
    transition: all 0.3 ease-in-out;
}

.hidden {
    display: none;
}

.menuActive {
    transform: translateX(0px);
}

.header {
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.header .smart {
    margin-bottom: 0;
    font-size: 40px;
    color: var(--detail2);
}

.underline {
    width: 100%;
    border: 2px solid var(--detail2);
    border-radius: 8px;
}

.menuItems {
    width: 95%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.option {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color3);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
}

.option:hover {
    color: var(--color);
    background: var(--detail2);
    transform: scale(1.02);
}

.option:hover p {
    color: var(--color);
}

.optionContent {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.optionContent p {
    transition: all 0.3s;
}

.toggleButton {
    width: 40px;
    height: 20px;
    background-color: #bdc3c7;
    border-radius: 10px;
    position: relative;
}

.toggleButton::after {
    content: "";
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 2px;
    transition: all 0.3s ease;
}

.toggleButton.active::after {
    left: 20px;
    background-color: #2ecc71;
}

.logout {
    color: rgb(244, 244, 244);
    background: rgb(215, 0, 0);
}

.logout p {
    color: rgb(244, 244, 244);
}