.background {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 80vh;
}


.opacity {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ptop {
    padding-top: 30px;
}

.pbottom {
    padding-bottom: 100px;
}

.mbottom {
    margin-bottom: 30px;
}

.container {
    padding-top: 30px;
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
}

.subContainer {
    width: 60%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.horizonralContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.app {
    font-size: 60px !important; 
}

.title {
    font-size: 43px;
    color: var(--detail2);
    margin-bottom: 10px;
}

.title span {
    font-size: 20px;
    font-weight: 500;
}

.platform {
    padding: 2px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.platform img {
    width: auto;
    height: 40px;
}

.platform:hover {
    background: var(--detail2);
    color: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}

.button {
    padding: 8px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    min-width: 230px;
    font-weight: bold;
    color: var(--color);
    background: var(--detail2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.download {
    font-size: 25px;
    background: rgb(50, 180, 100);
}

.download span {
    filter: drop-shadow(0 0 5px rgb(0, 0, 0, 0.3));
}

.download:hover {
    background: rgb(40, 155, 80);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.button div {
    padding: 10px 0px;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, transparent, rgb(250, 250, 250, 0.3), transparent); */
    border: 2px solid var(--color);
}

.button div span {
    filter: drop-shadow(0 0 5px rgb(0, 0, 0, 0.3));
}

.button:hover:not(.noButton):not(.download) {
    background: var(--detail3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
}

.plans {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.prices {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}