.dashboardCard {
  width: 100%x;
  height: 300px;
  padding: 18px 22px;
  border-radius: 14px;
  background: var(--card-bg, #ffffff);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 10px;
 
  transition: 0.3s ease all;
}

.dashboardCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.header h3 {
  margin: 0;
  color: #502314;
  font-size: 1.3rem;
  font-weight: 700;
}

.description p {
  margin: 0;
  color: #333;
  font-size: 0.95rem;
  line-height: 1.4;
  text-align: left;
}


