.dashboardCard {
  height: 250px;
  padding: 18px 22px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s ease all;
}

.dashboardCard:not(.restaurant) {
  background: rgb(250, 250, 250);
}

.dashboardCard.restaurant {
  background: linear-gradient(140deg, var(--detail3), rgb(250, 250, 250));
  color: rgb(255, 255, 255);
}

.dashboardCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.header h3 {
  margin: 0;
  color: #502314;
  font-size: 1.3rem;
  font-weight: 700;
}

.header.restaurant h3 {
  color: rgb(255, 255, 255)
}

.description p {
  margin: 0;
  color: #333;
  font-size: 0.95rem;
  line-height: 1.4;
  text-align: left;
}