.dashboardCard {
  height: 200px;
  padding: 18px 20px;
  border-radius: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s ease all;
}

.dashboardCard:not(.restaurant) {
  background: rgb(250, 250, 250);
}

.dashboardCard.restaurant {
  background: linear-gradient(to right, var(--detail1), rgb(62, 67, 113));
  color: rgb(255, 255, 255);
}

.separator {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.dashboardCard:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.header h3 {
  margin: 0;
  color: #502314;
  font-size: 1.3rem;
  font-weight: 700;
}

.header.restaurant h3,
header.restaurant .description p {
  color: rgb(255, 255, 255)
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.description p {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.4;
  text-align: left;
}

.description.restaurant p {
  color: rgb(250, 250, 250);
}

.description:not(.restaurant) p {
  color: #333;
}


.link {
  text-align: center;
  padding: 10px;
  width: 100%;
  text-decoration: none;
  color: rgba(255, 255, 255);
  background: var(--detail3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  box-sizing: border-box;
  transition: 0.3s all;
}

.link:hover {
  background: var(--detail2);
}