.title {
    margin-bottom: 0;
    text-align: left;
    color: rgb(250, 180, 100);
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.subText {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: start;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    color: rgb(50, 50, 50);
    width: 100%;
}

.content {
    padding-bottom: 50px;
}