.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  background-color: var(--bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

.card .card_image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card .card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card .card_button {
  margin-top: 10px;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: var(--color);
  background-color: #502314;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 1;
}

.card .card_button:hover {
  background-color: #914c34;
  /* border: 1px solid #502314; */
}

.horizontalCard {
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border-radius: 8px;
  transition: all 0.3s;
}

.horizontalCard:hover {
  width: 100%;
  background: rgb(240, 240, 240);
  transform: scale(1.02);
}

.horizontalCard .left_section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.horizontalCard .right_section {
  height: 100%;
}

.horizontalCard .card_image {
  padding: 10px 10px 10px 25px;
  width: 200px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.horizontalCard .card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.horizontalCard .info {
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: var(--color);
  transition: all 0.3s;
  z-index: 1;
}

.horizontalCard .info p {
  font-size: 16px;
  font-weight: bold;
  color: #502314;
}

.specsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.specsName {
  width: 100%;
  text-align: center;
  background: var(--detail1);
}

.specsCard .children {
  padding: 5px 10px;
  width: 100%;
  min-height: 110px;
  color: var(--detail1);
  background: var(--bg-color);
}

.name.app {
  color: var(--detail2);
}

.priceCard {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-color3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 2px solid rgb(250, 250, 250);
  border-radius: 10px;
  transition: all 0.3s;
  overflow: hidden;
}

.priceCard:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px var(--detail3);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.priceCard.enterprise {
  /* background: linear-gradient(to bottom, #002fff, var(--bg-color4)); */
  background: linear-gradient(80deg, var(--detail3), #86a8e7, rgb(124, 135, 208), rgb(162, 176, 210));
  background-size: 300% 100%;
  animation: gradientAnimation 6s infinite alternate;
}

.priceCard.enterprise h3, 
.priceCard.enterprise .description,
.priceCard.enterprise span,
.priceCard.enterprise li {
  color: rgb(250, 250, 250);
}

.priceCard.premium {
  background: linear-gradient(to bottom, var(--detail2), var(--bg-color));
}

.priceCard.premium h3, 
.priceCard.premium .description,
.priceCard.premium span {
  color: rgb(240, 240, 240);

}

.priceCard .name {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--detail2);
}

.priceCard .name h3 {
  margin-bottom: 0;
}

.priceCard .description {
  width: 90%;
  height: 50px;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: var(--tx-color);
}

.price {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.price h3 {
  margin: 0;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  color: var(--tx-color);
}

.price span {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: var(--tx-color);
}

.priceCard .button {
  padding: 10px 0;
  width: 90%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: rgb(240, 240, 240);
  background: linear-gradient(to right, rgb(180, 180, 180), rgb(200, 200, 200));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  transition: all 0.8s;
  cursor: pointer;
}

.priceCard .button:hover {
  color: rgb(240, 240, 240);
  background: linear-gradient(to right, rgb(150, 150, 150), rgb(180, 180, 180));
}

.priceCard .features {
  width: 90%;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: var(--tx-color);
}

.priceCard .features li {
  padding: 2px 0;
  font-family: sans-serif;
  list-style: none;
}