.details_container {
  position: relative;
  margin-top: 25px;
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  background: rgb(241, 204, 148);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.food_container {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.food_image {
  width: 200px;
  min-width: 200px;
  height: 150px;
  border-radius: 10px;
}

.food_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.food_info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: normal;
  border-radius: 10px;
  overflow: hidden;
}

.food_name {
  color: white;
  width: 100%;
  text-align: center;
  background: var(--detail1);
}

.food_specs {
  padding: 5px 20px;
  min-height: 80px;
  color: var(--detail1);
  background: var(--bg-color2);
  transition: all 0.3s;
}

.mid {
  margin: 0px 0px 10px 0px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: var(--detail1);
}

.card_container {
  /* width: 85%; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  background: rgb(241, 204, 148);
  border-radius: 10px;
}

.specs {
  padding: 0px 20px;
}

.specName {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.specName label,
.specName input {
  cursor: pointer;
}