.login_container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Botón de regreso */
.back_button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.back_button span {
  width: 40px;
  height: 40px;
  color: rgb(0, 0, 0);
}

/* Sección Izquierda (Login) */
.login_left {
  background-color: #f1e4d1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

.login_logo {
  width: 120px;
  margin-bottom: 15px;
}

h2 {
  color: #502314;
  font-family: "Lilita One", sans-serif;
  margin-bottom: 20px;
}

.input_group {
  text-align: left;
  margin-bottom: 15px;
}

.input_group label {
  font-weight: bold;
  color: #502314;
  display: block;
  margin-bottom: 5px;
}

.input_group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: #ccc;
  outline: none;
}

.input_group input::placeholder {
  color: white;
}

.login_button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  color: white;
  background: var(--detail2);
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.login_button:hover {
  background: var(--detail3);
  transform: scale(1.05);
}

/* Sección Derecha (Imagen) */
.login_right {
  width: 50%;
  overflow: hidden;
}

.login_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.horizontal {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.horizontal input {
  cursor: pointer;
}

.horizontal label {
  color: var(--detail1);
}

/* Rergistro */

.sing_form {
  padding: 40px;
  width: 100%;
  max-width: 350px;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.sing_form form {
  width: 100%;
}

.sing_form .inputs_group {
  width: 100%;
}

.inputmid_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.inputmid_group input {
  width: 88.5%;
}

/* .sing_form {
  width: 100%;
  max-width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.input_group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input_group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.inputmid_group {
  display: flex;
  gap: 10px;
}

.inputmid_group .input_group {
  flex: 1;
}
 */

.button_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}