.footer {
    background: rgb(30, 28, 28);
    color: white;
    padding: 20px 0px;
}

.container {
    margin: 0 auto;
    padding-top: 30px;
    width: 90%;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 10px;
}

.separator {
    margin-top: 10px;
    width: 99.5%;
    border: 3px solid var(--detail2);
    border-radius: 10px;
}

/* .content div {
    background: var(--detail1);
} */

.brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.title {
    /* margin-bottom: 0px; */
    font-size: 28px;
    font-weight: bold;
    color: var(--detail3);
}

.subtitle {
    margin: 0px;
    margin-bottom: 30px;
    font-size: 0.9rem;
    color: var(--color);
}

/* Links */
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.links a:hover {
    color: #ff8c42;
}

.copyright {
    text-align: center;
    font-size: 0.85rem;
    color: #b0b0b0;
    margin-top: 1.5rem;
}