.card_container {
  margin-top: 25px;
  padding: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  background: rgb(241, 204, 148);
  border-radius: 10px;
}