@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Lilita One", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  background: var(--bg-color);

  --sidebarSize: 290px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
} */

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  display: flex;
  place-items: center;
}

.container {
  width: 100%;
}

.bg_container {
  /* margin-bottom: 10px; */
  width: 100%;
  min-height: 100vh;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Estilo de la barra de scroll */
::-webkit-scrollbar {
  width: 13px; 
}

/* Estilo del riel de la barra de scroll */
::-webkit-scrollbar-track {
  background: var(--color);
  border-radius: 10px;
}

/* Estilo del "thumb" (deslizador) */
::-webkit-scrollbar-thumb {
  background: var(--detail2);
  border: 3px solid var(--color);
  border-radius: 10px;
  transition: all 0.3;
  cursor: move;
}

/* Cambia el color al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 179, 39);
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: dark) {

  :root {
    --bg-color: rgba(241, 228, 209);
    --bg-color2: rgba(241, 228, 209);
    --bg-color3: rgba(240, 233, 225);
    --bg-color4: rgba(240, 240, 245);

    --color: rgb(231, 233,235);
    --tx-color: rgb(30, 33, 35);

    --detail1: rgb(80, 35, 20);
    --detail2: rgb(240, 160, 80);
    --detail3: rgb(250, 180, 100);

    --cardTableColor: 250, 245, 240;
    --tableTitle: 0,0,0;
    --tableColor: 255, 250, 250;
    --tableTr: 180, 170, 170;
  }
}

/* @media (prefers-color-scheme: dark) {

  :root {
    --bg-color: rgb(44, 37, 26);
    --bg-color2: rgba(241, 228, 209);


    --color: #ddd;
  }
} */