.imageBG {
    width: 100%;
    height: 100%;
    min-height: 80vh;
    background-image: url("../../../assets/varios/app_comida.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.opacity {
    height: 80vh;
    background: rgba(0, 0, 0, 0.3);
}

.imageBG h1 {
    margin: 80px 0px 20px 0px;
    font-weight: bold;
    font-size: 40px;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.imageBG p {
    margin-bottom: 70px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.container {
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2 {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tx-color);
    background: var(--bg-color);
}

.subContainer {
    width: 80%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal {
    display: flex;
    align-items: center;
    gap: 30px;
}

.horizontal .info {
    width: 80%;
}

.info p {
    font-size: 20px;
}

.secondTitle {
    margin-top: 0;
    font-size: 40px;
    color: rgb(255, 255, 255);
    /* color: var(--detail2); */
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}