.specialHeader {
  transition: 0.5s ease-in-out;
}

.normalHeader {
  position: relative;
  background: var(--bg-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.header {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  z-index: 50;
}

.hiddenNav {
  /* transform: translateY(-100%); */
  transition: transform 0.3s ease-in-out;
}

.header .navbar {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.abs {
  position: absolute;
}

.fix {
  position: fixed;
  background: rgb(50, 50, 50);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.navbar a {
  text-decoration: none;
}

.navbar_container {
  width: 85%;
}

.left_section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left_section span {
  font-size: 40px;
  cursor: pointer;
  user-select: none;
  --webkit-user-select: none;
  --moz-user-select: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.logo img {
  width: 50px;
  aspect-ratio: 1;
  filter: drop-shadow(0 0 5px rgb(0, 0, 0, 0.5));
}

.homeSmart {
  font-size: 25px;
  /* color: rgb(255, 246, 214); */
  color: var(--color);
}

.smartOrder {
  font-size: 25px;
  color: #502314;
}

.title {
  margin: 0;
  font-size: 43px;
  color: #502314;
}

.menu {
  width: 20px;
}

.right_section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.active {
  /* color: rgb(255, 246, 214) !important; */
  color: var(--detail2) !important;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.right_section a {
  font-size: 20px;
  cursor: pointer;
}

.homeLink {
  color: var(--color);
}

.smartOrder_Link {
  color: #502314;
}

.right_section a:hover {
  text-decoration: underline;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.2));
}

